.App {
  text-align: center;

}
body{
  background-color:  #E5E5E5; 
  font-family: 'SF Pro Display', sans-serif;

}

.app-button{
  background-color:#FFD52E;
  color:black;
  font-weight: 700;
  margin-left: 0.3rem;
}

.app-button:hover{
  background-color: #dec669;
  color:black; 
}

.table{
  border-radius: 13px;
  background-color: #F9F9F9;
}

input{
  text-align: center;
}

.img-header{
  width: 70px;
  
  
}

.h1-header{
  margin-right: 1rem;
  margin-left: 1rem;
}